.notes-list {
    .note-item {
        list-style-type: disc;
        margin-bottom: 15px;

        .note-item-title {
            display: block;
            font-size: 16px;
            color: #222;
            text-decoration: none;

            &:hover {
                color: #000;
            }

            &:visited {
                color: #999;
            }
        }

        .create-time {
            display: inline-block;
            font-size: 14px;
            color: #666666;            
        }

        .tags {
            position: relative;
            margin: 5px 0;
            .tag {
                color: #666666;
            }
        }
    }
}