.note-container {
  padding-bottom: 20px; }

.menu .menu-list {
  padding-left: 0; }
  .menu .menu-list li {
    list-style: none; }

.menu-wrap {
  position: relative;
  display: flex; }
  .menu-wrap .menu-side {
    width: 180px; }
  .menu-wrap .menu-body {
    flex: 1;
    display: flex;
    padding-left: 20px; }
    .menu-wrap .menu-body .content {
      flex: 1; }
    .menu-wrap .menu-body .silver {
      width: 240px; }

.iphone-wrap {
  position: relative;
  width: 210px;
  height: 419.517px;
  margin: 0px auto;
  background-size: cover;
  background-image: url(/static/img/iphone-6-silver.png); }
  .iphone-wrap .screen {
    position: absolute;
    top: 48.7586px;
    left: 14.4828px;
    width: 181.034px;
    height: 322px;
    background-color: white; }

