createdAt: "2019-12-16T03:35:47.003Z"
updatedAt: "2019-12-16T03:36:00.441Z"
type: "MARKDOWN_NOTE"
folder: "a5b79a2fbff70fc0490b"
title: "sharp 介绍"
tags: []
content: '''
  ## sharp 介绍
  * [Home - sharp](https://sharp.pixelplumbing.com/en/stable/)
  * [GitHub - lovell/sharp: High performance Node.js image processing, the fastest module to resize JPEG, PNG, WebP and TIFF images. Uses the libvips library.](https://github.com/lovell/sharp)
  
  > sharp 是 Node.js 平台上相当热门的一个图像处理库，其实际上是基于 C 语言编写 的 libvips 库封装而来，因此高性能也成了 sharp 的一大卖点。sharp 可以方便地实现常见的图片编辑操作，如裁剪、格式转换、旋转变换、滤镜添加等。
  
  ## 参考链接
  * [GitHub - libvips/libvips: A fast image processing library with low memory needs.](https://github.com/libvips/libvips)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
