createdAt: "2019-12-20T06:01:18.891Z"
updatedAt: "2019-12-20T06:02:17.753Z"
type: "MARKDOWN_NOTE"
folder: "a5b79a2fbff70fc0490b"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
